<mat-nav-list appAccordion class="navigation">
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getAll()">
        <a appAccordionToggle class="relative" mat-ripple (click)="openProfileLink()" *ngIf="menuitem.type === 'linkwithid'">
            <mat-icon class="mat-icon material-icons">{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name  }}</span>
            <span fxFlex></span>
            <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
        </a>
        <a appAccordionToggle class="relative" mat-ripple [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'">
            <mat-icon class="mat-icon material-icons">{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name  }}</span>
            <span fxFlex></span>
            <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
        </a>
        <a appAccordionToggle class="relative" mat-ripple href="javascript:;" *ngIf="menuitem.type === 'sub'">
            <mat-icon>{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name }}</span>
            <span fxFlex></span>
            <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
            <mat-icon class="menu-caret">arrow_drop_down</mat-icon>
        </a>
        <mat-nav-list class="sub-menu" *ngIf="menuitem.type === 'sub'">
            <mat-list-item *ngFor="let childitem of menuitem.children" routerLinkActive="open">
                <a [routerLink]="['/', menuitem.state, childitem.state ]" class="relative" mat-ripple>{{ childitem.name  }}</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-list-item>
</mat-nav-list>